@font-face {
  font-family: 'Pterra';
  src: url('Pterra.ttf') format('truetype');
}

@font-face {
  font-family: 'Blackmoor LET';
  src: url('BlackmoorLET.ttf') format('truetype');
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('PixelifySans.tff') format('truetype');
}

@font-face {
  font-family: 'Vaticanus';
  src: url('Vaticanus.ttf') format('truetype');
}



@font-face {
  font-family: 'Arabolical';
  src: url('Arabolical.ttf') format('truetype');
}

@font-face {
  font-family: 'Breitkopf Fraktur';
  src: url('Breitkopf_Fraktur.ttf') format('truetype');
}

@font-face {
  font-family: 'Byzantine';
  src: url('Byzantine.ttf') format('truetype');
}

@font-face {
  font-family: 'Dauphin';
  src: url('Dauphin.ttf') format('truetype');
}

@font-face {
  font-family: 'FriskyVampire';
  src: url('FriskyVampire.ttf') format('truetype');
}

@font-face {
  font-family: 'MasonAlternate';
  src: url('MasonAlternate.ttf') format('truetype');
}

@font-face {
  font-family: 'Nosfer';
  src: url('Nosfer.ttf') format('truetype');
}

@font-face {
  font-family: 'SyneTactile';
  src: url('SyneTactile.ttf') format('truetype');
}

@font-face {
  font-family: 'Thief by The Riddler';
  src: url('Thief_by_The_Riddler.ttf') format('truetype');
}

@font-face {
  font-family: 'Underwater Love';
  src: url('Underwater_Love.ttf') format('truetype');
}

@font-face {
  font-family: 'Wernicke Schwabacher';
  src: url('WernickeSchwabacher.ttf') format('truetype');
}

@font-face {
  font-family: 'Yataghan';
  src: url('Yataghan.otf') format('opentype');
}

@font-face {
  font-family: 'Jorvik Informal';
  src: url('JorvikInformal.ttf') format('truetype');
}
